.App-logo {
  height: 46px;
  pointer-events: none;
}

h1 {
  font-size: 50px;
  margin: 0 0 40px 0;
}

h1 *,
button * {
  display: inline-block;
  vertical-align: middle;
}

h1 img {
  margin-right: 15px;
}

button {
  padding: 6px 8px;
  border-radius: 2px;
  color: white;
  border: none;
  font-size: 20px;
  margin-right: 8px;
}

button.slim {
  padding: 2px 8px;
}

button img {
  margin: 0 5px 0 2px;
}

button.primary-button {
  background: var(--primary);
}

button.secondary-button {
  background: var(--secondary);
}

button.inverted-button {
  background: var(--black);
  color: var(--accent);
}

button.danger-button {
  background: crimson;
}

label {
  display: inline-block;
}

label * {
  pointer-events: none;
}

.button-tweak {
  margin-top: -6px;
}

.hidden {
  display: none;
}

table {
  font-family: monospace;
  font-size: 15px;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  text-align: left;
  padding: 3px 12px;
}

.hoverable td,
th {
  cursor: pointer;
}

th {
  border-bottom: solid 1.5px white;
  padding-bottom: 4px;
}

tr:first-child td {
  padding-top: 4px;
}

td.hover,
th.hover {
  background: var(--black);
  color: var(--accent);
}

.button-section {
  margin: 10px 0;
}

.column-selection {
  font-size: 14px;
  background: var(--primary);
  padding: 2px 4px;
  border-radius: 3px;
  margin: 3px;
}

.remove-action {
  display: inline-block;
  margin-right: 5px;
}

.warn {
  background: var(--secondary);
  color: var(--accent);
  font-size: 15px;
  display: table;
  padding: 12px 17px;
  border-radius: 3px;
}

.extra-top {
  margin-top: 30px;
}

.tick {
  background: var(--primary);
  border-radius: 2px;
  height: 28px;
  width: 6px;
  margin-right: 3px;
  display: inline-block;
}

.tick.lit {
  background: var(--accent);
}

button.disabled {
  opacity: 0.3;
}

.button-category-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 20px;
  padding: 0;
}

select {
  margin: 0 5px;
  background: var(--black);
  color: var(--fgColor);
  font: inherit;
  border-radius: 2px;
  padding: 0 10px;
}

.filter {
  background: var(--black);
  color: var(--fgColor);
  font-family: inherit;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
  padding: 2px 10px;
  border: solid 1px var(--primary);
}

.upper-section {
  float: right;
}

.bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--black);
  height: 8px;
  position: absolute;
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--accent);
}

.low-bottom h1 {
  margin-bottom: 12px;
}
